{
  "printWidth": 80,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote":true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always"
}